/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}
body, html {
    background:url('ecommerce.jpg');
    background-size:cover;
    margin:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
}
fieldset {
    padding: 20px;
    float: right;
    margin-top: 19%;
    margin-left:10%;
    border: 2px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

#footer{
  background-color: #0568CD;
  color: white;
  position:absolute;
  width: 100%;
  bottom: 0;
  text-align:center;
  height: 1.5em;
  font-weight: bold;
}
/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}
form .erreur {
    color: #900;
}